<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="ltr">

 <!-- BEGIN: Header-->
 <%-include("./partials/header") %>
 <!-- END: Header-->

 <!-- BEGIN: Main Menu-->
 <%-include("./partials/sidebar") %>
 <!-- END: Main Menu-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
    data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Content-->
    <div class="app-content content kanban-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="row" id="basic-table">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header border-bottom p-1">
                                <div class="head-label">
                                    <h6 class="mb-0">Task Assign</h6>
                                </div>
                                <div class="dt-action-buttons text-end">
                                    <div class="dt-buttons d-inline-flex"> <button
                                            class="dt-button create-new btn btn-primary" tabindex="0"
                                            aria-controls="DataTables_Table_0" type="button"
                                            data-bs-toggle="modal" data-bs-target="#modals-slide-in"><span><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-plus me-50 font-small-4">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>Add Task</span></button> </div>
                                </div>
                            </div>
                         
                            <div class="table-responsive">
                                <table id="taskDatatable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Task</th>
                                            <th>Employee_Id</th>
                                            <th>Work_Hour</th>
                                            <th>Status</th>
                                            <th>Start_Date</th>
                                            <th>End_Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(data){ %>
                                            <% data.forEach(user => {%>
                                            <tr>
                                                <td><%=user.task %></td>
                                                <td><%=user.employee_Name %></td>
                                                <td><%=user.Work_Hour %></td>
                                                <td><%=user.status %></td>
                                                <td><%=user.start_Date ? user.start_Date.toLocaleDateString() : user.start_Date %></td>
                                                <td><%=user.end_Date ? user.end_Date.toLocaleDateString() : user.end_Date %></td>
                                            </tr>
                                            <% })} %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END: Content-->
    
    <!-- Modal to add new record -->
    <div class="modal modal-slide-in fade" id="modals-slide-in" style="display: none;" aria-hidden="true">
        <div class="modal-dialog sidebar-sm">
            <form id="eventForm" class="add-new-record modal-content pt-0" action="/taskAssignPost" method="post">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">New Record</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="mb-1">
                        <label class="form-label" for="basic-icon-default-fullname">Employee
                            Name</label>
                        <select name="employee_Id" class="form-select" required>
                            <option value="">select Client</option>
                           <% if(users){%>
                            <% users.forEach(user=> {%>
                                <option value="<%=user._id%>">
                                    <%=user.name %>
                                </option>
                                <% })} %>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-icon-default-fullname">Task</label>
                        <input type="text" name="task" class="form-control dt-full-text"
                            id="basic-icon-default-text" placeholder="Please Enter Task"
                            aria-label="Module Name" required>
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-icon-default-fullname">Status</label>
                        <input type="text" name="status" class="form-control dt-full-text"
                            id="basic-icon-default-text" placeholder="Please Enter Status"
                            aria-label="Module Name" required>
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-icon-default-date">
                            Start Date </label>
                        <input type="text" name="start_Date" step="3600" class="form-control" id="start"
                            placeholder="" aria-label="" >
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-icon-default-date">
                            End Date </label>
                        <input type="text" name="end_Date" class="form-control" id="end" placeholder=""
                            aria-label="" >
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-icon-default-date">
                            Work Hour </label>
                        <input type="time"  name="Work_Hour" class="form-control" id="time"
                            placeholder="" aria-label="" required>
                    </div>
                    <button type="submit"
                        class="btn btn-primary data-submit me-1 waves-effect waves-float waves-light">Submit</button>
                    <button type="reset" class="btn btn-outline-secondary waves-effect"
                        data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <%-include("./partials/footer") %>
    <!-- END: Footer-->

    <!-- BEGIN: Vendor JS-->
    <%-include("./partials/scripts") %>

    <script>
        $(document).ready(function(){
           var dataTable = $('#taskDatatable').DataTable({
                 });
             });
 </script>

    <script>
      $('#start').datepicker({
    onSelect: function(dateText, inst){
        $('#end').datepicker('option', 'minDate', new Date(dateText));
    },
});

$('#end').datepicker({
    onSelect: function(dateText, inst){
        $('#start').datepicker('option', 'maxDate', new Date(dateText));
    }
});
        </script>

</body>
<!-- END: Body-->

</html>